{{>header }}

    {{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>About US</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, atque aut corporis cum dignissimos eaque eum fuga, impedit ipsum maxime nihil nisi omnis praesentium reprehenderit velit, veritatis vitae. Adanimi culpa distinctio eos, excepturi impedit labore libero molestiae quibusdam rerum sed, suscipit undevoluptate? Culpa dolore ducimus inventore repellendus sequi.</p>
    </div>
    <div class="col-4">
        <img src="https://imgplaceholder.com/400x300" alt="" class="thumbnail">
    </div>
</div>


{{>footer }}